body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar */

.navbar{
    height: 4rem;
    background-color: white;
}

.icon{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a :hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links{
    width: 100%;

}

.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
}

.footer-icon{
    margin: 0.5rem;
}

/* listing */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body
{
    padding: 0 !important;
}

.card-body p{
    font-weight: bold !important;
}

.card-img-overlay {
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.card:hover .card-img-overlay {
    opacity: 0.4; /* Increased opacity for better visibility */
    background-color: rgba(255, 255, 255, 0.8); /* Use rgba for better control of transparency */
}

/* showListing */
.show-img{
    height:50vh;
}

.btns{
    margin-top: 5px;
}